

.mainCard-signUp {
  border: 1px solid #321fdb;
}
.row-class {
  margin-top: 200px;
}
.h2login {
  color:#321fdb!important;

}
.buttonsubmitlogin {
  background-color: #321fdb!important;
  color: white!important;
}
span.validation {
  color: red!important;
}
.buttonlogout {
  color: white!important;
  background-color: #321fdb!important;
}
.card-demo{
  background-color:#321fdb!important;
  height:100%;
  width:100%;
  color:white;
}
.demo{
  color: white;
}
.red {
  color: red;
}
.cardtop {
  border-color: #321fdb!important;
  margin-top: 25px!important;
}
.none {
  resize: none;
}